@import '../utiles/variables';
@import '../utiles/placehoders';
@import '../utiles/mixin';

.header {
    outline: 1px solid darkgoldenrod;
    margin-top: 71px;
    margin-bottom: 92px;
    
}

.header-menu {
    outline: 1px solid darkgreen;
    list-style: none;
    display: flex;
    gap: 99px;
    margin: 0 auto;
    width: 555px;
}

.menu-item {
    outline: 1px solid darkblue;
}

.header-link {
    color: $title-color;
    @extend %text;
    font-size: 14px;
    text-decoration: none;
    outline: 1px solid darkmagenta;
}

.active {
    outline: 1px solid darkslategray;
}

.active {
    color: $active-color;
    @include text1($font-size: 14px);
    font-size: 14px;
    outline: 1px solid darkred;
}