@import '../utiles/variables';

.btn-load{
    color: $title-color;
    font-family: "Playfair Display", serif;
    font-weight: 400px;
    font-size: 30px;
    outline: 1px solid brown;
    margin-top: 90px;
    margin-bottom: 66px;
    font-size: 14px;
    padding: 20px 50px;
}

.card-item{
    width: 420px;
    outline: 1px solid gray;
}

.card-image{
    outline: 1px solid purple;
    margin-bottom: 62px;
}

.card-list{
    list-style: none;
    outline: 1px solid darkviolet;
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

.title{
    color: $title-color;
    font-family: "Playfair Display", serif;
    font-weight: 400px;
    font-size: 30px;
    outline: 1px solid brown;
    margin-bottom: 40px;
    margin-top: 32px;
}

.btn-vraper{
    text-align: center;
}

.title-p{
    color: $title-color;
    font-family: "Playfair Display", serif;
    font-weight: 400px;
    font-size: 30px;
    outline: 1px solid rgb(54, 15, 15);
    margin-bottom: 130px;
    font-size: 14px;
}

.category {
    color: $category-color;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    outline: 1px solid black;
    margin-bottom: 32px;
    font-size: 14px;
}